<!-- Alternate Top Nav Bar -->
<nav class="row alternate">
  <div class="small-12 large-11 xlarge-10 columns small-centered">
    <a class="astromo__logo__link" href="/index.html"><img class="astromo__logo" src="{{assets}}/astromo_black@2x.png" alt="ASTROMO"></a>
    <i class="icon-menu icons show-for-small-only"></i>
    <ul class="menu__items">
      <!-- <li><a href="#">Pricing</a></li> -->
      <li><a href="/index.html">Services</a></li>
      <li><a href="university.html">University</a></li>
      <li><a href="/security.html">Security</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">About Us</a></li>
    </ul>
  </div>
</nav>

<header class="astromo__header {{topic}}" style="background-image: url('/images/{{topic}}.jpg')">

  <!-- Top nav bar -->
  <nav class="row visible">
    <div class="small-12 large-11 xlarge-10 columns small-centered">
      <a class="astromo__logo__link" href="/index.html"><img class="astromo__logo" src="{{assets}}/astromo@2x.png" alt="ASTROMO"></a>
      <i class="icon-menu icons show-for-small-only"></i>
      <ul class="menu__items">
        <!-- <li><a href="#">Pricing</a></li> -->
        <li><a href="/index.html">Services</a></li>
        <li><a href="/university.html">University</a></li>
        <li><a href="/security.html">Security</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">About Us</a></li>
      </ul>
    </div>
  </nav>

  <div class="header__hero">
    <h1 class="hero__title">{{header-title}}</h1>
    <h2 class="hero__subtitle">{{header-subtitle}}</h2>
    <a href="mailto:hello@astromo.io" class="button outline white call-to-action">Get in touch</a>
  </div>
</header>